.BeerDetail {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 25px;
}

.BeerDetail .imgWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 25px 0px;
}

.BeerDetail .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.BeerDetail .tag strong {
  font-size: 2rem;
}

.BeerDetail img {
  max-height: 300px;
  max-width: 100%;
}

@media (min-width: 500px) {
  .BeerDetail {
    padding: 25px 10%;
  }
}